<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.demo.moduleuser.mapper.OrganizationMapper">

    <select id="getById" resultType="java.lang.String">
        SELECT name FROM organization WHERE id = #{id}
    </select>
    <select id="query" resultType="exam.demo.moduleuser.pojo.model.Organization">
        SELECT * FROM organization
        <where>
            <if test="name!=null and name!=''">
                AND name LIKE CONCAT(#{name},'%')
            </if>
        </where>
        ORDER BY updated_time DESC
    </select>
</mapper>