<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.demo.moduleuser.mapper.SystemParamMapper">

    <select id="getQueryListData" resultType="exam.demo.moduleuser.pojo.model.TreeList">
        SELECT DISTINCT param_type AS name FROM system_param
    </select>
</mapper>