<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.demo.moduleauth.mapper.UserMapper">

    <select id="checkUser" resultType="exam.demo.modulecommon.utils.jwt.UserPermission">
        SELECT DISTINCT a.id,a.code,a.name AS userName,a.company_id,c.org_id FROM user a,user_role b,role c
        where a.code = #{code} and a.id = b.user_id and b.role_id = c.id
    </select>

    <select id="getUserInfo" resultType="exam.demo.moduleauth.pojo.model.UserInfo">
        select id,name,profile_picture,company_id from user where id = #{id}
    </select>

    <select id="getUserMenu" resultType="exam.demo.moduleauth.pojo.model.UserMenu">
        SELECT distinct d.id,d.name,d.code,d.parent_id,d.url,d.open_img,d.close_img,d.resource_type
        FROM role_resource a,user_role b,user c,resource d
        WHERE a.role_id = b.role_id AND b.user_id = c.id AND d.id = a.resource_id AND c.id = #{id}
        ORDER BY id
    </select>
    <select id="findByCode" resultType="exam.demo.moduleauth.pojo.model.User">
        SELECT id, code, name, password
        FROM user
        WHERE code = #{code}
    </select>
</mapper>