<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.demo.moduleexam.dao.mapper.ExamPublishRecordMapper">

    <select id="queryAnswerRecord" resultType="exam.demo.moduleexam.pojo.model.ExamPublishRecord">
        SELECT
        exam_publish_record.title,
        exam_publish_record.publisher,
        exam_publish_record.exam_session,
        exam_publish_record.end_time,
        exam_record.tel,
        exam_record.examiner,
        exam_record.actual_start_time,
        exam_record.actual_end_time,
        exam_record.objective_subject_score,
        exam_record.subjectvie_subject_score,
        exam_record.id,
        exam_publish_record.paper_id
        FROM
        exam_record,
        exam_publish_record
        <where>
            exam_record.exam_publish_record_id=exam_publish_record.id
            <if test="examSession!=null and examSession!=''">and exam_publish_record.exam_session like
                "${examSession}%"
            </if>
            <if test="publisher!=null and publisher!=''">and exam_publish_record.publisher = #{publisher}</if>
            <if test="title!=null and title!=''">and exam_publish_record.title like "${title}%"</if>
            <if test="examTimeRange!=null and examTimeRange.size()!=0">and exam_publish_record.end_time &gt;
                "${examTimeRange.get(0)}"
                and exam_publish_record.end_time &lt; "${examTimeRange.get(1)}"
            </if>
        </where>
    </select>

    <select id="queryExamPubulishRecord" resultType="exam.demo.moduleexam.pojo.model.ExamPublishRecord">
        SELECT
        t.id,
        t.publisher,
        t.created_time,
        t.end_time,
        t.plan_pepole_num,
        t.limit_time,
        t.title,
        t.descript,
        t.status,
        t.version,
        t.exam_session,
        t.paper_id
        FROM
        exam_publish_record AS t
        <where>
            <if test="publisher!=null and publisher!=''">t.publisher like "${publisher}%"</if>
            <if test="title!=null and title!=''">and t.title like "${title}%"</if>
            <if test="examTimeRange!=null and examTimeRange.size()!=0">and t.start_time &gt; "${examTimeRange.get(0)}"
                and t.end_time &lt; "${examTimeRange.get(1)}"
            </if>
            <if test="publishTimeRange!=null and publishTimeRange.size()!=0">and t.created_time &gt;
                "${publishTimeRange.get(0)}"
                and t.created_time &lt; "${publishTimeRange.get(1)}"
            </if>
        </where>
    </select>

    <delete id="deleteExamPublishRecord">
        delete from exam_publish_record
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="version!=null">and version=#{version}</if>
        </where>
    </delete>

    <select id="queryGrade" resultType="exam.demo.moduleexam.pojo.model.ExamPublishRecord">
        SELECT
        r.id,
        p.paper_id,
        p.exam_session,
        p.created_time,
        r.tel,
        r.examiner,
        r.actual_end_time,
        p.marking_stop_time,
        r.objective_subject_score,
        r.subjectvie_subject_score,
        r.system_evaluate,
        r.status
        FROM
        exam_record AS r,
        exam_publish_record AS p
        <where>
            r.exam_publish_record_id=p.id
            and r.user_id=#{userId}
            <if test="endTimeRange!=null and endTimeRange.size()!=0">and r.actual_end_time &gt; "${endTimeRange.get(0)}"
                and r.actual_end_time &lt; "${endTimeRange.get(1)}"
            </if>
            <if test="examSession!=null and examSession!=''">and p.exam_session like "${examSession}%"</if>
            <if test="status!=null">and r.status=#{status}</if>
        </where>
    </select>

</mapper>