<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.demo.modulepaper.mapper.PaperSubjectAnswerMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, paper_subject_id, answer,right_answer, field1, field2, field3
    </sql>

    <!-- 根据试题id查询答案-->
    <select id="batchQueryAnswerBySubjectId" resultType="exam.demo.modulepaper.pojo.model.PaperSubjectAnswer">
        select <include refid="Base_Column_List"></include> from paper_subject_answer
        where paper_subject_id in
        <foreach collection="ids" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </select>

    <delete id="deleteBySubjectIdList">
        delete from paper_subject_answer where paper_subject_id in
        <foreach collection="ids" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </delete>
</mapper>